---
layout: default
title: page-community.title
description: page-community.description
namespace:     community
load_gsap: true
permalink:      /komunita/
permalink_en:   /community/
---
<section class="community">
    <div class="container">
        <img src="{{ site.assetsPath }}/img/icons/komunita-triangle.svg" class="bg-triangle" width="317" height="293" alt="trojúhelník">
        <img src="{{ site.assetsPath }}/img/icons/komunita-bg.svg" class="bg-pic" width="249" height="241" alt="čtverec">
        <div class="titles">
            <h1>
                {% t page-community.intro.title %}
            </h1>
            <p>
                {% t page-community.intro.text %}
            </p>
        </div>
        <div class="cards">
			{% for community-link in site.translations[site.lang].community-links %}
            <section class="card">
                <h4>Komunitní fórum</h4>
                <img src="{{ site.assetsPath }}{{ community-link.image }}" alt="{{ community-link.image-alt }}" width="104" height="104">
                <p>{{ community-link.text }}</p>
                {% include button.html 
                    text=community-link.button-text
                    translate=false
                    link=community-link.button-link
                    primary=false
                %}
            </section>
            {% endfor %}
        </div>
    </div>
</section>
{% include interested.html  %}
