---
layout: default
title: page-contact.title
description: page-contact.description
namespace:     contact
load_gsap: true
permalink:      /kontakt/
permalink_en:   /contact/
---
<section class="contacts">
    <div class="container">
        <img src="{{ site.assetsPath }}/img/icons/kontakt-triangle.svg" class="bg-triangle">
        <img src="{{ site.assetsPath }}/img/icons/kontakt-bg.svg" class="bg-pic">
        <h1>{% t page-contact.main.title %}</h1>
        <p>{% t page-contact.main.subtitle %}</p>
        <form>
            <label class="big-label">{% t page-contact.form.interest-type %}</label>
            <div class="radio">
                <div class="option">
                    <input type="radio" id="innovate" name="attracted" required>
                    <label for="innovate">{% t page-contact.form.interest1 %}</label><br>
                </div>
                <div class="option">
                    <input type="radio" id="partner" name="attracted">
                    <label for="partner">{% t page-contact.form.interest2 %}</label><br>
                </div>
            </div>
            <label for="name" class="big-label">{% t page-contact.form.name %}</label>
            <input type="text" id="name" required>
            <label for="email" class="big-label">{% t page-contact.form.e-mail %}</label>
            <input type="text" id="email" required>
            <label for="phone" class="big-label">{% t page-contact.form.phone %}</label>
            <input type="text" id="phone" value="+420" required>
            <label for="help" class="big-label">{% t page-contact.form.help %}</label>
            <textarea id="help" required></textarea>
            {% include button.html 
                text="page-contact.form.button-send"
                translate=true
                link="#"
            %}
        </form>
    </div>
</section>
<section class="help">
    <div class="container">
        <div class="caption">
            <h5>
                {% t support.title %}
            </h5>
            <div class="titles">
                <h2>
                    {% t support.subtitle %}
                </h2>
                <p>
                    {% t support.intro %}
                </p>
            </div>
        </div>
        {% include support.html
            dark-buttons = true
        %}
    </div>
</section>