---
layout: default
title: page-home.title
description: page-home.description
load_gsap: true
---
<section class="intro">
    <div class="container">
        <div class="titles">
            <h1>
                {% t page-home.intro.title %}
            </h1>
            <p>
                {% t page-home.intro.subtitle %}
            </p>
        </div>
        <div class="buttons">
            {% include button.html 
                text="page-home.intro.button-start"
				translate=true
                link="contact"
             %}
             {% include button.html 
                text="page-home.intro.button-learn"
				translate=true
                link="#learn-more"
                secondary=true
                icon="/img/icons/arrow-down.svg"
             %}
        </div>

        <img src="{{ site.assetsPath }}/img/pages/home/home-bg.svg" class="home-bg-pic">
        <img src="{{ site.assetsPath }}/img/pages/home/triangle-gradient.svg" class="home-triangle-gradient">
        <img src="{{ site.assetsPath }}/img/pages/home/origam.png" class="screenshot" width="1200" height="675" alt="Origam dashboard">
    </div>
</section>
	<section class="flexibility" id="learn-more">
		<div class="container">
			<div class="caption-title">
				<div class="headers">
					<h5>
						{% t page-home.benefits.title %}
					</h5>
					<h2>
						{% t page-home.benefits.subtitle %}
					</h2>
				</div>
				<div class="headers">
					<p>
						{% t page-home.benefits.intro %}
					</p>
				</div>
			</div>
			<div class="cards">
			{% for benefit in site.translations[site.lang].benefits %}
				<section class="card">
					<h4>
						{{ benefit.name }}
					</h4>
					<img src="{{ site.assetsPath }}{{ benefit.image }}" alt="{{ benefit.name }}" width="104" height="104" loading="lazy">
					<p>
						{{ benefit.content }}
					</p>
				</section>
			{% endfor %}
			</div>
            {% include button.html 
                text="page-home.benefits.button-learn"
				translate=true
                link="product"
                secondary=true
             %}
		</div>
	</section>
	<section class="advantages">
		<div class="container">
			<h5>
				{% translate page-home.features.title %}
			</h5>
			<h2>
				{% translate page-home.features.subtitle %}
			</h2>
            {% assign features = site.translations[site.lang].features-general  %}
            {% include grid.html 
                items = features
             %}
		</div>
		<div class="link">
            {% include button.html 
                text="page-home.features.button-text"
                link="product"
				translate=true
                secondary=true
             %}
		</div>
	</section>
	<section class="scroller">
		<div class="container">
			<h5>
				{% t page-home.examples.title %}
			</h5>
			<h2>
                {% t page-home.examples.subtitle %}
			</h2>
			<div class="pic-text">
				<div class="texts">
					{% for example in site.translations[site.lang].examples %}
					<div class="text">
						<h4>
							{{ example.name }}
						</h4>
						<p>
							{{ example.content }}
						</p>
					</div>
					{% endfor %}
				</div>
				<img src="{{ site.assetsPath }}/img/pages/home/Clay Dark.svg" width="670" height="386" alt="Ukázka Origamu" loading="lazy">
			</div>
		</div>
	</section>
	<!--
	<section class="satisfied">
		<div class="container">
			<div class="titles">
				<h5>
					{% t page-home.customer-logos.title %}
				</h5>
				<h2>
					{% t page-home.customer-logos.subtitle %}
				</h2>
			</div>
			<div class="logos">
			{% for logo in site.translations[site.lang].customer-logos %}
				<img src="{{ site.assetsPath }}{{ logo.image }}" width="26" height="24" alt="{{ logo.alt }}" loading="lazy">
			{% endfor %}
				{% include button.html 
					text="page-home.customer-logos.button-partners"
					translate=true
					link="partners"
					secondary=true
				%}
			</div>
		</div>
	</section>
	-->
	<section class="quotes">
		<div class="scroll-wrapper">
			<ul class="quote-container">
			</ul>
		</div>
	</section>
