<footer>
    <div class="orange-container clearfix">
        <div class="aslogo-container">
            <img title="Advantage Solutions" alt="Advantage Solutions" 
                src="/assets/images/advantageSolutions.png"/>
        </div> <!-- #aslogo-container -->
        <div class="social-container">
            <a class="socialMedia linkedin" 
                href="http://www.linkedin.com/company/advantage-solutions-s.-r.-o."><i class="fab fa-linkedin"></i></a>
            <a class="socialMedia twitter" 
                href="https://twitter.com/origam"><i class="fab fa-twitter"></i></a>
            <a class="socialMedia github" 
                href="https://github.com/origam"><i class="fab fa-github"></i></a>
            <a class="socialMedia github" 
                href="https://discord.gg/skz8sQpTJH"><i class="fab fa-discord"></i></a>
        
        </div>
    </div> <!-- #orange-container -->
    <div class="grey-container clearfix">
        <div class="column_1">
            <h4>CONTACT</h4>
            <p>Advantage Solutions, s. r. o., Jihovýchodní II. 887, 141 00 Praha 4, Czech Republic<br />
            <a href="mailto:info@origam.com">info@origam.com</a> <br/>
            <a href="tel:+420234688432">+420 234 688 432</a>
        </p>
        </div> <!-- #column_1 -->
        <div class="column_3">
            <h4>ABOUT US</h4>
            <p>We are a European company in enterprise business since 2003. Our mission is to help companies digitalize their businesses.</p>
        </div> <!-- #column_2 -->
        <div class="footerLine">
            <p>ORIGAM is a product of Advantage Solutions, s. r. o. / <a href="http://community.origam.com/tos">Terms and Conditions</a> / Copyright © 2014–2021 / All Rights Reserved</p>
        </div> <!-- #footerLine -->
    </div> <!-- #grey-container -->
</footer>	