<div class="grid">
    {% assign numTilesRemainder =  include.items.size | modulo: 3 %}
    {% if numTilesRemainder == 0 %}
        {% assign numTiles = include.items.size %}
    {% else %}
        {% assign numTiles = 3 | minus: numTilesRemainder | plus: include.items.size %}
    {% endif %}
    {% for i in (1..numTiles) %}
        {% assign remainder = i | modulo: 3 %}
        {% if remainder == 0 %}
            <div class="row">
                {% for j in (0..2) reversed -%}
                    {% assign index = i | minus: j | minus: 1 %}
                    {% if index < include.items.size %}
                        <div class="column">
                            <h4> 
                                {{ include.items[index].name  }}
                            </h4>
                            <img class="grid-icon" 
                                src="{{ site.assetsPath | append: include.items[index].image }}" 
                                width="104" 
                                height="104" 
                                alt="{{ include.items[index].name }}" 
                                oading="lazy">
                            <p>
                                {{ include.items[index].content }}
                            </p>
                        </div>
                    {% else %}
                        <div class="column-spacer"></div>
                    {% endif %}
                {% endfor -%}
            </div>
        {% endif %}
    {% endfor %}
</div>
    