<div class="nav-container">
    <ul>
        <li>
            <a class="navToggle" href="product">{% translate titles.product %}</a>
        </li>
        <li>
            <a class="navToggle" href="partners">{% translate titles.partners %}</a>
        </li>
        <li>
            <a class="navToggle" href="community">{% translate titles.community %}</a>
        </li>
        <li>
            <a class="navToggle" href="about">{% translate titles.about %}</a>
        </li>
    </ul>
</div> <!-- #nav-container -->