<li class="quote-card">
    <blockquote class="quotation">{{ include.quote }}</blockquote>
    <div class="person">
        <div class="images">
            {% if include.avatar %}
                <img src="{{site.assetsPath}}{{ include.avatar }}" class="avatar" width="80" height="80" alt="{{ include.name }}" loading="lazy">
            {% endif %}
            <div class="company">
                <img src="{{site.assetsPath}}{{ include.companyLogo }}" class="company-logo" height="24" alt="{{ include.company }}" loading="lazy">
            </div>
        </div>
        <p>
            {% if include.name %}
                {{ include.name }},
            {% endif %}
            {% if include.position %}
                {{ include.position }},
            {% endif %}
            {% if include.company %}
                {{ include.company }},
            {% endif %}
            {{ include.country }}
        </p>
    </div>
</li>