/*	---------------------------------------------------------------------- */
/*	
	Name: asap.is
	Date: February 2014
	Version: 1.0
	Author: Daniel Baumgartner
	Autor URI: icontel.com
*/
/*	---------------------------------------------------------------------- */

/*	---------------------------------------------------------------------- */
/* 	colors
	
	Orange			#F15B47
	Font			#202323
	Grey			#F5F5F5
	Font Grey		#666666
	Line Grey		#DCDCDC
	
*/
/*	---------------------------------------------------------------------- */

/*	---------------------------------------------------------------------- */
/* 	global */
/*	---------------------------------------------------------------------- */

html, button, input, select, textarea {
    color: #202323;
}

body {
	background: #F8FBFB;
    font-family: 'ucLight', Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 100;
	line-height: 1.35em;
	font-style: normal;
	font-weight: normal;
	text-rendering: optimizeLegibility;
}

.wrapper {
    width: 1026px;
	margin: 0 auto;
	padding: 0 30px;
}

.wrapper img {
	padding-bottom:2em;
}

.nowrapper {
    margin: 0;
	padding: 0;
}

/*	---------------------------------------------------------------------- */
/* 	fonts */
/*	---------------------------------------------------------------------- */

/* Headings */
h1, h2, h3, h4, h5 {
	font-style: normal;
	font-weight: 300; 
	margin: 0;
	padding: 0;
}
h1, h2 { font-family: 'adRegular', Helvetica, Arial, sans-serif; }
h3 { font-family: 'ucLight', Helvetica, Arial, sans-serif; }
h4, h5 { font-family: 'ucBold', Helvetica, Arial, sans-serif; }
h1, h4 { color: #F15B47; }
h2, h3, h5, .claim-container h1 { color: #202323; }
h3, h4 { text-transform: uppercase; }
h1 {
	font-size: 3em;
	line-height: 1.1em;
	letter-spacing: -1px;
}	
h2 {
	font-size: 2em;
	line-height: 1.2em;
	margin-bottom: 0.8em;
}
h2.jobTitle { margin-bottom: 1em; }
h3 {
	font-size: 1.5em;
	line-height: 1.3em;
	margin-bottom: 0.8em;
}
h4 {
	font-size: 1em;
	line-height: 1.35em;
	margin-bottom: 0.2em;
}
h5 {
	font-size: 1em;
	line-height: 1.35em;
	margin-bottom: 0.1em;
}
/* Specific headings */

p, pre { margin: 0 0 30px 0;}
p:last-child, pre:last-child { margin: 0;}
b, strong, th { font-family: 'ucBold', Helvetica, Arial, sans-serif; font-weight: normal; }

h2 b {
    font-family: adRegular;
    color: #F15B47;
}
/* Lists */

/* Anchors */
a, a:visited, a img, a img:visited, .box, .featureCategory {
	color: #F15B47;
	cursor: pointer;
	text-decoration: underline;
	font-style: normal;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
a:hover, a:active {
	color: #202323;
	text-decoration: underline;
}
a img { border: none; }
a img:hover, a img:active, .box:hover, .featureCategory:hover {
	border: none;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
a:focus {
	-moz-outline-style: none;
	outline: none;
}

hr {
	clear: both;
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #D2D5D5;
    margin: 0;
    padding: 0 0 60px 0;
}

img {
    vertical-align: middle;
	max-width: 100%;
	height: auto;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

ul { list-style: none; list-style-type: none; list-style-image: none; }

.main-container ul { padding: 0px; margin: 0 0 30px 0; }
.main-container ul { list-style: none; }
.main-container ul li:before { content: "\2013\00a0\00a0"; }
.main-container ul li { padding: 3px 0; }
.main-container ol { padding-left: 30px; margin: 0 0 30px 0; }
.main-container ol li {
	padding: 3px 0 3px 8px;
	border-left: 1px solid #D2D2D5;
}

.lightGrey ol li {
	border-left: 1px solid #F15B47;
}

textarea {
    resize: vertical;
}
input, textarea { outline:none; }
input[type=text]:focus,
input[type=password]:focus {
  outline: 0 none;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

::-moz-selection {
	background: #F15B47;
    color: #FFFFFF;
}
::selection {
    background: #F15B47;
    color: #FFFFFF;
}
::-webkit-selection {
	background: #F15B47;
	color: #FFFFFF;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

#scrollUp {
	bottom: 0;
    right: 0;
}
a#scrollUp i {
	background: none;
    color: #FFFFFF;
    font-size: 1.2em;
    height: 100px;
    line-height: 115px;
    text-align: center;
    width: 100px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
a#scrollUp:hover i {
	background: #F15B47;
	line-height: 100px;
}

/*	---------------------------------------------------------------------- */
/* 	layout */
/*	---------------------------------------------------------------------- */

/*	---------------------------------------------------------------------- */
/* 	main elements */
.header-container {
	background: #F15B47;
	display: block;
    min-width: 1086px;
    padding: 30px 0;
    position: fixed;
    width: 100%;
	z-index: 20;
}
.header-container.startpage { background-color: transparent; }
.header-container.shadow {
	background: rgba(241,91,71,0.97);
	-webkit-box-shadow: 0px 3px 5px 0px rgba(32,35,35,0.2);
	-moz-box-shadow:    0px 3px 5px 0px rgba(32,35,35,0.2);
	box-shadow:         0px 3px 5px 0px rgba(32,35,35,0.2);
}

.main-container {
}

.footer-container {
	color: #F8FBFB;
	font-size: 0.85em;
}

/*	---------------------------------------------------------------------- */
/* 	header */
.header-content {
	padding: 0 30px;
	position: relative;
}
.logo-container {
	float: left;
	width: 220px;
}
.nav-container {
	text-align: right;
}

.nav-container ul {
	padding: 0px;
	margin: 0px;
	margin-top: 0px;
	float: right;
}

.nav-container li {
	padding: 0px;
	margin: 0px;
	margin-top: 5px;
	float: left;
}

.nav-container a {
	color: #FFF;
	text-decoration: none;
	padding-left: 20px;
}
a.navToggle {
	display: inline-block;
}
a.navToggle i, a.closeToggle i {
    font-size: 1.7em;
    margin-left: 10px;
    vertical-align: calc(-4px);
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
a.navToggle:hover { color: #202323; }
a.navToggle:hover i, a.closeToggle:hover i { margin-left: 15px; }
a.closeToggle {
	display: block;
    padding: 30px 30px 29px 30px;
    text-transform: uppercase;
}

.image-container {
	background: #F15B47;
    height: 600px;
	margin: 0 0 120px 0;
	min-width: 1086px;
    position: relative;
}
.origami-container {
	left: 41%;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 59%;
    z-index: 10;
}
.origami-container img { max-width: inherit; }
.claim-container {
	bottom: 30px;
    left: 30px;
    margin: 0;
    position: absolute;
    width: 40%;
}
.claim-container h3 {
	margin-top: 10px;
	margin-bottom: 0;
	text-transform: none;
}

.pagetitle-container { padding: 150px 30px 90px 30px; }
.pagetitle-container h1 {
	display: inline-block;
}
.pagetitle-container .breadcrumbs {
	float: right;
    font-size: 0.85em;
    margin: 27px 0 0;
}
.pagetitle-container .breadcrumbs ul {
    list-style: none outside none;
    margin: 0;
    padding: 0;
}
.pagetitle-container .breadcrumbs ul li {
    display: inline;
    margin: 0 5px;
    padding: 0;
}
.pagetitle-container .breadcrumbs ul li:last-child {
    margin-right: 0;
}
.pagetitle-container .breadcrumbs ul li a {
    text-decoration: none;
}
.pagetitle-container .breadcrumbs ul li.active {
	text-transform: uppercase;
}

/*	---------------------------------------------------------------------- */
/* 	teasers */
.teaser { text-align: center; }
.teaser img.origami { margin: 30px auto 0px auto; }
a.btn {
	background: #F15B47;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    clear: both;
    color: #F8FBFB;
    display: inline-block;
    margin: 0 auto;
    padding: 15px 40px;
    text-decoration: none;
    text-transform: uppercase;
}
a.btn:hover, .row.buttonRow a.btn:hover, .box:hover, .orange.box:hover, .box.special:hover {
	background: #393C3C;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(32,35,35,0.2);
	-moz-box-shadow:    0px 3px 5px 0px rgba(32,35,35,0.2);
	box-shadow:         0px 3px 5px 0px rgba(32,35,35,0.2);
}

.orange a.btn { background: #F8FBFB; color: #F15B47;}
.row.orange a.btn { background: #F8FBFB; color: #F15B47;}
.orange a.btn:hover { background: #393C3C; }
.row.darkGrey a.btn:hover { background: #F8FBFB; color: #393C3C; }
a.btn.teaser { margin: 30px 0 0 0;}

.nav-container a.btn {
    background-color: #F8FBFB;
    color: #202323;
    padding: 7px 18px 7px 18px;
    margin: -7px 17px;
}
.nav-container a.btn:hover { background: #556f7a; color: #F8FBFB;}

.box {
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    clear: both;
    color: #F8FBFB;
    margin: 0 auto;
    padding: 15px 40px;
    text-decoration: none;
}
.box.orange { background: #F15B47;; }
.box.special { background: #556f7a; }

.box.roadmap {
	border-style: solid;
	color:#202323;
	border-color: #556f7a;
	cursor: auto;
	margin-bottom: 2em;
}
.box.roadmap:hover {
	transition: none;
	background: none;
}
.box.roadmap h3 {
	color:#202323;
}
.box.roadmap.orange h3 {
	color:#F15B47;
}
.box.roadmap.orange {
	background: #F8FBFB;
	border-color: #F15B47;
}

.box h3{
    color: #F8FBFB;
}

.special.teaser {
	margin-left: auto;
	margin-right: auto;
	width: 674px;
}

.teaser-feature-container {
	border-top: 1px solid #F15B47;
	margin-top: 30px;
}

.orange .teaser-feature-container {
	border-top: 1px solid #F8FBFB;
}

.teaser-feature {
	padding: 30px 0;
}

.teaser-feature-left {
	float: left;
	width: 222px;
}
.teaser-feature-right {
	float: right;
	width: 774px;
	margin-top: -4px
}

.customer-logo {
	padding-left: 10px;
}

/*	---------------------------------------------------------------------- */
/* 	benefits */
.benefits-left {
	font-family: 'ucLight', Helvetica, Arial, sans-serif;
	font-size: 1.5em;
	line-height: 1.3em;
	margin-bottom: 0.8em;
	float: left;
	width: 322px;
	color: #F15B47;
}
.benefits-right {
	float: right;
	width: 674px;
	margin-bottom: 30px;
}

.benefits-right h4 {
	color: #202323;
}

/*	---------------------------------------------------------------------- */
/* 	news */
.news-container {
	border-top: 1px solid #D2D2D5;
}
.news-entry {
	border-bottom: 1px solid #D2D2D5;
	padding: 30px 0;
}

.news-left {
	float: left;
	width: 322px;
}
.entry-title {
	color: #F15B47;
	font-family: 'ucBold', Helvetica, Arial, sans-serif;
	line-height: 1.35em;
	text-transform: uppercase;
}
.entry-date {
	color: #868989;
	font-size: 0.85em;
}
.news-right {
	float: right;
	width: 674px;
}

.more-news { margin-top: 30px; }
.news-detail .more-news {
	border-top: 1px solid #D2D2D5;
    padding: 30px 0 0;
}
.entry-readmore a, .more-news a { text-decoration: none; }

.news-detail h2.news-lead { font-size: 1.5em; }
.news-detail .date-author { 
	color: #868989;
	font-size: 0.85em;
	margin: 0 0 30px 0;
}
.news-date { font-family: 'ucBold', Helvetica, Arial, sans-serif; }
table.news-table {
	margin: 0 0 30px 0;
	border-top: 1px solid #D2D2D5;
}
table.news-table tr th, table.news-table tr td {
	padding: 15px 5px;
	border-bottom: 1px solid #D2D2D5;
	text-align: left;
	vertical-align: top;
}
table.news-table tr th {
	font-family: 'ucBold', Helvetica, Arial, sans-serif;
	font-weight: normal;
}


/*	---------------------------------------------------------------------- */
/* 	features */

.featureCategory {
	text-decoration: none;
    padding: 10px;
    color: #202323;
}

.featureCategory:hover {
	background: #DCDCDC;
	-webkit-box-shadow: 0px 3px 5px 0px rgba(32,35,35,0.2);
	-moz-box-shadow:    0px 3px 5px 0px rgba(32,35,35,0.2);
	box-shadow:         0px 3px 5px 0px rgba(32,35,35,0.2);
}

.accordionHeader {
	border-bottom: 1px solid #D2D2D5;
    cursor: pointer;
    outline: medium none;
	padding: 0;
    position: relative;
}
.accordionHeader.stateActive { border-bottom: none; }

.accordionHeader a {
    display: block;
    padding: 15px 5px;
	text-decoration: none;
}
.accordionHeader a i { margin: 0 15px 0 0; }
.accordionHeader.stateActive a {
	color: #202323;
	text-transform: uppercase;
}

.accordionContent.stateActive {
	border-bottom: 1px solid #D2D2D5;
	display: block;
	margin: 0;
	padding: 15px 0 60px 40px;
    overflow: auto;
    position: static;
}
.accordionContent.stateDefault { display: none; }
.accordionContent .column_1_1_2, .accordionContent .column_2_1_2 { width: 48%; }

/*	---------------------------------------------------------------------- */
/* 	people */
.teamlead-container { width: 787px; }
.teamportrait-container { margin: 60px 0; }

.portrait-container {
	border: 1px solid #FFFFFF;
	display: block;
	float: left;
	height: 254px;
	overflow: hidden;
	position: relative;
	width: 254px;
}
.portraitimg {
	background: #D2D5D5;
    display: block;
    height: 100%;
    width: 100%;
}
.portraitdetails {
	background-image: linear-gradient(bottom, rgba(32,35,35,0.95) 0%, rgba(32,35,35,0) 100%);
		background-image: -o-linear-gradient(bottom, rgba(32,35,35,0.95) 0%, rgba(32,35,35,0) 100%);
		background-image: -moz-linear-gradient(bottom, rgba(32,35,35,0.95) 0%, rgba(32,35,35,0) 100%);
		background-image: -webkit-linear-gradient(bottom, rgba(32,35,35,0.95) 0%, rgba(32,35,35,0) 100%);
		background-image: -ms-linear-gradient(bottom, rgba(32,35,35,0.95) 0%, rgba(32,35,35,0) 100%);
		background-image: -webkit-gradient(
			linear,
			color-stop(0, rgba(32,35,35,0.95)),
			color-stop(1, rgba(32,35,35,0))
		);
	bottom: -50px;
	color: #FFF;
    display: block;
	padding: 15px 0 0 0;
	position: absolute;
	text-align: center;
    width: 254px;
	-moz-opacity: 0;
	opacity: 0;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=0);
}
.portraitimg, .portraitimg img {
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	-ms-transition: all 0.1s linear;
	-o-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.portraitdetails {
	-webkit-transition: all 0.3s ease-in;
	-moz-transition: all 0.3s ease-in;
	-ms-transition: all 0.3s ease-in;
	-o-transition: all 0.3s ease-in;
	transition: all 0.3s ease-in;
}
.portraitdetails h3 {
	color: #F8FBFB;
	font-size: 1.2em;
	margin: 0;
	padding: 0;
}
.portrait-container:hover .portraitimg {
	background: #ACAFAF;
}
.portrait-container:hover .portraitdetails {
	bottom: 0;
	-moz-opacity: 1;
	opacity: 1;
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
}
.portraitdetails a.websitelink {
	background: rgba(32,35,35,0.4);
	color: #F8FBFB;
    display: block;
    height: 45px;
    line-height: 45px;
    padding: 0;
	margin: 5px 0 0 0;
    text-decoration: none;
    width: 254px;
}
.portraitdetails a.websitelink:hover {
	background: rgba(32,35,35,0.8);
	color: #F15B47;
}
.portraitdetails a.websitelink i { margin-left: 135px;}

/*	---------------------------------------------------------------------- */
/* 	downloads */
table.asapDownloads {
	border-collapse: collapse;
    border-top: 1px solid #D2D2D5;
    width: 100%;
}
table.asapDownloads.first { margin-bottom: 60px; }
table.asapDownloads tr { }
table.asapDownloads tr td {
	border-bottom: 1px solid #D2D2D5;
    padding: 10px 1%;
    text-align: left;
}
table.asapDownloads tr.head td {
	font-family: 'ucBold', Helvetica, Arial, sans-serif;
	font-weight: normal;
	padding-top: 14px;
}
table.asapDownloads tr.head:hover td { background: none; }
table.asapDownloads tr:hover td { background: #D2D5D5; }
table.asapDownloads tr td.productName { width: 25%; }
table.asapDownloads tr td.version { width: 25%; }
table.asapDownloads tr td.date { width: 25%; }
table.asapDownloads tr td.download, table.asapDownloads tr td.releaseNotes { width: 15%; text-align: center; }

/*	---------------------------------------------------------------------- */
/* 	downloads */
.releaseVersion {
	border-bottom: 1px solid #ACAFAF;
	margin-bottom: 30px;
	padding-top: 30px;
}
.releaseVersion.first {
	border-top: 1px solid #ACAFAF;
	margin-top: 60px;
}
.releaseVersion.last {
	border-bottom: none; 
	margin-bottom: 0;
}

.releaseVersion h3 a {
	display: block;
    float: right;
    font-size: 20px;
    text-decoration: none;
    text-transform: none;
}
.releaseVersion ul {
}
.releaseVersion ul li {
	border-bottom: 1px dotted #D2D5D5;
	padding: 7px 0;
}
.releaseVersion ul.backend li:last-child { border-bottom: none; }
.releaseVersion ul li:before, ul.masterReleaseNotes li:before {
	content: none;
}

.main-container li.masterNote {
	border-bottom: 1px dotted #D2D5D5;
	margin-bottom: 0;
	padding: 5px 0;
}
.masterNote.first {
	border-top: 1px dotted #D2D5D5;
	margin-top: 60px;
}
.masterNote.last {
	border-bottom: none; 
	margin-bottom: 0;
}
.masterNote .date, .masterNote .version, .masterNote .type, .masterNote .changeNotes {
	display: block;
	float: left;
}
.masterNote .date {
	width: 13%;
}
.masterNote .version {
	color: #868989;
	font-size: 0.85em;
	width: 7%;
}
.masterNote .type {
	color: #868989;
	font-size: 0.85em;
	width: 10%;
}
.masterNote .changeNotes {
	width: 69%;
}

/*	---------------------------------------------------------------------- */
/* 	registration */
ul.registerForm { width: 735px; }
ul.registerForm li { padding: 5px 0; }
ul.registerForm li:before { content: none; }
ul.registerForm li label {
    border: medium none;
    display: block;
    float: left;
    line-height: 38px;
    margin: 0;
    padding: 0;
    white-space: normal;
    width: 234px;
}
ul.registerForm li input {
    background: #D2D5D5;
    border-color: #ACAFAF;
    -webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: 1px 1px 0 #DCDFDF inset, 1px 1px 0 #FFFFFF;
	-moz-box-shadow:    1px 1px 0 #DCDFDF inset, 1px 1px 0 #FFFFFF;
	box-shadow:         1px 1px 0 #DCDFDF inset, 1px 1px 0 #FFFFFF;
	font-family: 'ucLight', Helvetica, Arial, sans-serif;
    font-size: 100%;
    line-height: 22px;
    margin: 0;
    padding: 7px 5px;
    width: 486px;
	-webkit-transition: all 200ms ease-out;
	-moz-transition: all 200ms ease-out;
    -ms-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
	transition: all 200ms ease-out;
}
ul.registerForm li input:hover {
	border-color: #F15B47;
	-webkit-box-shadow: 1px 1px 2px #DCDFDF inset, 1px 1px 2px #FFFFFF;
	-moz-box-shadow:    1px 1px 2px #DCDFDF inset, 1px 1px 2px #FFFFFF;
	box-shadow:         1px 1px 2px #DCDFDF inset, 1px 1px 2px #FFFFFF;
}
ul.registerForm li input:focus {
	border-color: #F15B47;
	background: #FFF;
	-webkit-box-shadow: 1px 1px 2px #D2D5D5 inset, 1px 1px 2px #FFFFFF;
	-moz-box-shadow:    1px 1px 2px #D2D5D5 inset, 1px 1px 2px #FFFFFF;
	box-shadow:         1px 1px 2px #D2D5D5 inset, 1px 1px 2px #FFFFFF;
}
ul.registerForm li.captcha input { margin-left: 234px; }
ul.registerForm li p.hint {
	color: #868989; 
	margin: 10px 0 10px 234px;
}
ul.registerForm li.buttons a.btn { margin-left: 234px; }

.product-tour h2 {
    padding-top: 50px;
    margin-bottom: 0px;
}

.product-tour img {
    height: 300px;
}

.column_3_1_3.product-tour img {
    float: right;
}

.center {
	margin: auto;
	width: 50%;
}

/*	---------------------------------------------------------------------- */
/* 	rows - columns */
.row { margin: 0 0 60px 0; min-width: 1086px; }
.row.last { margin: 0; }
.row.white.last { margin: 0 0 120px 0; }
.row.lightGrey, .row.darkGrey, .row.orange {
	background: url(/assets/images/rowArrow.png) no-repeat top center;
	padding-top: 90px;
	padding-bottom: 60px;
}
.row.lightGrey { background-color: #D2D5D5; }
.row.darkGrey { background-color: #393C3C; color: #F8FBFB; }
	.row.darkGrey h2, .row.darkGrey h3, .row.darkGrey h5, .row.darkGrey a:hover { color: #F8FBFB; }
.row.orange { background-color: #F15B47; color: #F8FBFB; }
	.row.orange h2, .row.orange h3, .row.orange h5, .row.orange a, .row.orange p { color: #fff; }
	.row.orange h4, .row.orange a:hover { color: #F8FBFB; }

.column_1_1_3, .column_2_1_3, .column_1_1_2, .column_1_1_4, .column_2_1_4, .column_3_1_4 { float: left; }
.column_3_1_3, .column_2_1_2, .column_2_2_3, .column_4_1_4 { float: right; }

.column_1_1_3, .column_2_1_3, .column_3_1_3 { width: 322px; }
.column_1_1_2, .column_2_1_2 { width: 497px; }
.column_1_1_4, .column_2_1_4, .column_3_1_4, .column_4_1_4 { width: 234px; }
.column_1_2_3, .column_2_2_3 { width: 674px;}

.column_1_1_3, .column_1_1_4, .column_2_1_4 { margin-right: 30px; }

/*	---------------------------------------------------------------------- */
/* 	footer */
/*	---------------------------------------------------------------------- */
.orange-container {
	background: #F15B47;
	border-bottom: 1px solid #F8FBFB;
	min-width: 1086px;
}
.aslogo-container {
	float: left;
	width: 145px;
	margin: 20px 0 0 30px;
}
.social-container {
	float: right;
}
.social-container a {
	background: #F15B47;
    border-left: 1px solid #F8FBFB;
    color: #FFFFFF;
    display: block;
    float: right;
    font-size: 1.2em;
    height: 100px;
    line-height: 100px;
    text-align: center;
    width: 100px;
}
.social-container a:hover {
	color: #F15B47;
	font-size: 1.6em;
	-webkit-box-shadow:	inset 0 -100px 0 0 #393C3C;
	-moz-box-shadow:	inset 0 -100px 0 0 #393C3C;
	box-shadow:			inset 0 -100px 0 0 #393C3C;
}
.social-container a.loginUser.loggedin {
	font-size: 1em;
	padding-left: 20px;
	padding-right: 20px;
	width: auto;
	text-decoration: none;
}
.social-container a.loginUser.loggedin:hover {
	font-size: 1em;
}
.social-container a.loginUser.loggedin i { font-size: 1.2em; margin-right: 15px; }
.social-container a.loginUser.loggedin span { font-size: 1em; }

.grey-container {
	background: #393C3C;
	min-width: 1086px;
	padding: 60px 0 30px 0;
}
.grey-container .column_1, .grey-container .column_2, .grey-container .column_3 { width: 322px; margin-bottom: 60px; }
.grey-container .column_1, .grey-container .column_2 { float: left; }
.grey-container .column_1 { margin: 0 30px; }
.grey-container .column_3 {
	float: right;
	text-align: left;
	margin-right: 30px;
}
.grey-container h4 { color: #F8FBFB; }
.grey-container ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.grey-container ul li { display: block; }
.grey-container ul li ul { display: inline; margin-left: 10px; }
.grey-container ul li ul li { display: inline-block; }

.grey-container ul li a { text-transform: uppercase; }
.grey-container ul li ul li a { text-transform: none; }
.grey-container a {
	color: #F8FBFB;
	text-decoration: none;
}
.grey-container a:hover {
	color: #F15B47;
	text-decoration: underline;
}
.grey-container .footerLine {
	clear: both;
	color: #F8FBFB;
	display: block;
	margin: 0 0 0 30px;
}

/*	---------------------------------------------------------------------- */
/* 	sidr */
/*	---------------------------------------------------------------------- */
.sidr {
	background: #868989;
	border-left: 1px solid #F8FBFB;
	color: #F8FBFB;
	display: none;
	height: 100%;
	overflow-x: none;
	overflow-y: auto;	
	position: absolute;
	position: fixed;
	top: 0;
	width: 250px;
	z-index: 999999;
}
.sidr.right {
	left: auto;
	right: -250px
}
.sidr ul {
	border-bottom: 1px solid #F8FBFB;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
}
.sidr ul li a {
	border-top: 1px solid #F8FBFB;
	display: block;
    margin: 0;
    padding: 10px 30px;
    text-align: left;
	text-transform: uppercase;
}

.sidr ul li ul {
	border-bottom: none;
}
.sidr ul li ul li a {
    border-top: 1px dotted #ACAFAF;
    text-align: right;
    text-transform: none;
}

.sidr ul li a:hover, .sidr a.closeToggle:hover {
	background: #5F6262;
	color: #F15B47;
}
.sidr ul li a:hover { padding: 10px 25px; }
.sidr ul li a.active {
	background: #F15B47;
    color: #202323;
}

.sidrOrigami {
	float: right;
	margin: 30px 30px 0 0;
	width: 40px;
}

/*	---------------------------------------------------------------------- */
/* 	pace */
/*	---------------------------------------------------------------------- */
.pace {
	-webkit-pointer-events: none;
	pointer-events: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}
.pace.pace-inactive .pace-progress { display: none; }
.pace .pace-progress {
	position: fixed;
	z-index: 2000;
	top: 0;
	right: 0;
	height: 5rem;
	width: 5rem;
}
.pace .pace-progress:after {
	background: #F15B47;
	display: block;
	position: absolute;
	padding: 17px 30px 17px 10px;
	top: 0;
	right: 0;
	content: attr(data-progress-text);
	font-family: "adRegular", sans-serif;
	font-weight: 100;
	font-size: 3em;
	line-height: 1;
	text-align: right;
	color: #202323;
}

/*	---------------------------------------------------------------------- */
/* 	helper classes */
/*	---------------------------------------------------------------------- */

.clearfix:after {
  content:"";
  display:table;
  clear:both;
}
/*	---------------------------------------------------------------------- */
/* 	print help */
/*	---------------------------------------------------------------------- */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}

@media screen and (max-width: 1086px) {
	h1 {
		font-size: 2.2em;
	}

	.wrapper, .header-container, .image-container, .orange-container, .grey-container, .row,
	.special.teaser, .benefits-left, .benefits-right {
		min-width: 0px;
		width: 100%;
		box-sizing: border-box;
	}

	.row {
		padding-left: 15px;
		padding-right: 15px;
	}

	.pagetitle-container.wrapper { padding: 180px 30px 40px 30px; }

	.grey-container .column_1, .grey-container .column_2, .grey-container .column_3 
	{ 
		margin: 30px;
		float: left; 
	}

	.image-container {
		margin-bottom: 40px;
		height: 500px;
	}

	.nav-container {
		float: left;
	}

	.nav-container li {
		margin-top: 15px;
	}

	.nav-container a {
		padding-left: 0px;
		font-size: 0.8em;
		padding-right: 10px;
	}

	.social-container, .aslogo-container {
		float: left;
		width: 100%;
	}

	.aslogo-container {
		margin: 20px 0 30px 30px;
	}

	.social-container a {
		float: left;
		height: 50px;
		width: 24%;
		border: none;
	}

	.aslogo-container img {
		max-width: 145px;
	}

	.wrapper {
		margin: 0px;
		padding: 15px;
	} 
	.origami-container {
		visibility: hidden;
		width: 0;
	}
	.origami-container img { 
		max-width: inherit; 
	}
	.claim-container {
		padding-bottom: 30px;
		padding-left: 30px;
		width: 80%;
		left: 0px;
		position: relative;
		bottom: initial;
		top: 145px;
	}	
	img {
		vertical-align: auto;
		max-width: 100%;
	}

	.column_1_1_3, .column_2_1_3, .column_3_1_3,
	.column_1_1_2, .column_2_1_2 ,
	.column_1_1_4, .column_2_1_4, .column_3_1_4, .column_4_1_4,
	.column_1_2_3, .column_2_2_3 {
		 width: 100%; 
		 padding: 0px;
		 float: left;
		 margin: 0px;
	}
	
	.column_1_1_3, .column_1_1_4, .column_2_1_4 { margin-right: 0px; }

	.box {
		margin: 10px;
		padding: 15px 25px;
	}
	
	.center {
		margin: auto;
		width: 80%;
	  }
	
}


/*	---------------------------------------------------------------------- */
/* 	fontface */
/*	---------------------------------------------------------------------- */

@font-face {
	font-family: 'ucLight';
    src: url('/assets/fonts/ucl.eot');
    src: url('/assets/fonts/ucl.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ucl.woff') format('woff'),
         url('/assets/fonts/ucl.ttf') format('truetype'),
         url('/assets/fonts/ucl.svg#ucLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'ucBold';
    src: url('/assets/fonts/ucb.eot');
    src: url('/assets/fonts/ucb.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/ucb.woff') format('woff'),
         url('/assets/fonts/ucb.ttf') format('truetype'),
         url('/assets/fonts/ucb.svg#ucBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'adRegular';
    src: url('/assets/fonts/adr.eot');
    src: url('/assets/fonts/adr.eot?#iefix') format('embedded-opentype'),
         url('/assets/fonts/adr.woff') format('woff'),
         url('/assets/fonts/adr.ttf') format('truetype'),
         url('/assets/fonts/adr.svg#adRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}